
.videoplayer__title, .videoplayer__video img, .videoplayer__description, .item__title, .item__video img {
  display: none;
  opacity: 0;
}

.videoplayer__video .content::before, .item__video::before{
    position: absolute;
    content: 'Hidden By SquashTV Spoilers';
    font-size: 2em;
    margin: 0.5em;
    font-weight: bold;
    color: white;
}

.item__video {
  border: 1px solid #9e9e9e;
}

.item__video::before {
  font-size: 1em;
}

.squashtv-nospoiler-controls {
  text-align: center;
  margin: 10px;
}

.squashtv-nospoiler-controls button {
  opacity: .8;
  border: none;
  border-radius: 5px;
  background: #ffe426;
  font-size: 1.3em;
  font-weight: bold;
  vertical-align: middle;
  margin-right: .3em;
}

.squashtv-nospoiler-controls button:hover {
  opacity: 1;
  cursor: pointer;
}

.squashtv-nospoiler-controls input {
  opacity: .8;
  border-bottom: 4px solid #ffe426;
  width: 2em;
  font-size: 1.1em;
  font-weight: bold;
}

.squashtv-nospoiler-controls input:hover {
  opacity: 1;
}

.squashtv-nospoiler-controls span {
  color: white;
  font-weight: bold;;
}